@import "../extends";
@import "../variables";

.header {
  background-color: wheat;
  padding: $padding 0;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-column-gap: $padding;
  justify-content: center;
  align-items: center;
  &__icon {
    font-size: $bigFontSize;
    color: green;
  }
  &__title {
    font-style: italic;
    font-weight: 600;
    text-transform: uppercase;
  }
  &__count {
    @extend %count;
  }
}
